.btns h1 {
    text-align: center;
    font-size: 2rem;
}
  
  .btn {
    font-size: 10px;
    display: block;
    margin-bottom: 10px;
  }
  
.btn button{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
.btn button :hover {
    background-color: white;
    color: black;
  }
  